<%- include('header')%>
    <% if(success !='' ){ %>
        <div class="alert alert-success alert-dismissible fade show text-center " role="alert">
            <%=success %>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <%}%>
            <div class="add-form">
                <div class="add">
                    <div class="row">
                        <h2>Update Password</h2>
                    </div>
                    <form action="/password/edit/<%= record._id %>" method="post">
                        <div class="input-box d-flex justify-left" style="align-items: center;">
                            <label for="" style="justify-content:left">Select Category</label>
                            <select name="passwordCategory" id="passwordCategory">
                                <% if(records.length>0){
                                    records.forEach(function(row){ %>
                                    <option value="<%= row.categoryname %>" <% if
                                        (row.categoryname===record.passwordCategory) { %> selected <% } %>>
                                            <%= row.categoryname %>
                                    </option>
                                    <% }) } %>
                            </select>
                        </div>
                        <div class="input-box d-flex justify-left" style="align-items: center;">
                            <label for="" style="justify-content:left;">Project name</label>
                            <input type="text" name="projectName" style="margin-left: 23px;"
                                value="<%= record.projectName %>"></input>
                        </div>
                        <div class="input-box textarea">
                            <label for="">Password detail</label>
                            <textarea id="editor" name="passwordDetail"><%= record.passwordDetail %></textarea>
                        </div>
                        <div class="input-box">
                            <input type="submit" value="Update password" class="btn btn-primary">
                        </div>
                        <input type="hidden" name="id" value="<%= record._id %>">
                    </form>
                    <div class="col">
                        <a href="/password">View All Password</a>
                    </div>
                </div>
            </div>
            <script>
                ClassicEditor
                    .create(document.querySelector('#editor'))
                    .then(editor => {
                        console.log(editor);
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
            </body>

            </html>