<%- include('header')%>
    <div class="container category-list">
        <div class="row">
            <h2>Password Lists</h2>
        </div>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Password category name</th>
                    <th>Project Name</th>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <% if(records.length> 0){
                    records.forEach(function(row){
                    %>
                    <tr>
                        <td>
                            <%= row.passwordCategory %>
                        </td>
                        <td>
                            <%= row.projectName %>
                        </td>
                        <td>
                            <!-- <a href="#" style=" color:purple;"><i class="far fa-eye"></i></a> -->
                            <a type="button" style="background:none; color:purple; border:none;" class="btn btn-primary"
                                data-bs-toggle="modal" data-bs-target="#exampleModal<%= row._id %>">
                                <i class="far fa-eye"></i>
                            </a>
                        </td>
                        <td>
                            <a href="/password/edit/<%= row._id %>" style=" color: #0984e3;"><i
                                    class="fa-regular fa-pen-to-square"></i></a>
                        </td>
                        <td>
                            <a href="/password/delete/<%= row._id %>"
                                onclick="return confirm('Are you sure you want to delete?')" style="color: #d63031;"><i
                                    class="far fa-trash-alt"></i></i></a>
                        </td>
                    </tr>
                    <div class="modal fade" id="exampleModal<%= row._id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">
                                        <%= row.projectName %>
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <%- row.passwordDetail %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }) }%>
            </tbody>
        </table>
        <% if (pages> 0) { %>
            <nav>
                <ul class="pagination justify-content-center">
                    <% if (current==1) { %>
                        <li class="page-item disabled"><a class="page-link">First</a></li>
                        <% } else { %>
                            <li class="page-item"><a href="/password/1" class="page-link">First</a></li>
                            <% } %>

                                <% var i=(Number(current)> 5 ? Number(current) - 4 : 1); %>
                                    <% if (i !==1) { %>
                                        <li class="page-item disabled"><a class="page-link">...</a></li>
                                        <% } %>

                                            <% for (; i <=(Number(current) + 4) && i <=pages; i++) { %>
                                                <% if (i==current) { %>
                                                    <li class="page-item active" aria-current="page"><a
                                                            class="page-link">
                                                            <%= i %>
                                                        </a></li>
                                                    <% } else { %>
                                                        <li class="page-item"><a href="/password/<%= i %>"
                                                                class="page-link">
                                                                <%= i %>
                                                            </a></li>
                                                        <% } %>

                                                            <% if (i==(Number(current) + 4) && i < pages) { %>
                                                                <li class="page-item disabled"><a
                                                                        class="page-link">...</a></li>
                                                                <% } %>
                                                                    <% } %>

                                                                        <% if (current==pages) { %>
                                                                            <li class="page-item disabled"><a
                                                                                    class="page-link">Last</a></li>
                                                                            <% } else { %>
                                                                                <li class="page-item"><a
                                                                                        href="/password/<%= pages %>"
                                                                                        class="page-link">Last</a></li>
                                                                                <% } %>
                </ul>
            </nav>
            <% } %>
    </div>
    </body>

    </html>